.mypy_cache
node_modules
.history
.vscode
.env
.DS_Store
__pycache__
venv
.backup
output*
class_data_dir
/.internal
/build
.externalToolBuilders
Thumbs.db
.lock-wscript
*.pyc
.project
.cproject
builtins
build
js-web
